<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="title">Minesweeper</div>
<table border="1">
    <tr>
        <td id="cell-1x1"></td>
        <td id="cell-1x2"></td>
        <td id="cell-1x3"></td>
        <td id="cell-1x4"></td>
        <td id="cell-1x5"></td>
        <td id="cell-1x6"></td>
        <td id="cell-1x7"></td>
        <td id="cell-1x8"></td>
    </tr>
    <tr>
        <td id="cell-2x1"></td>
        <td id="cell-2x2"></td>
        <td id="cell-2x3"></td>
        <td id="cell-2x4"></td>
        <td id="cell-2x5"></td>
        <td id="cell-2x6"></td>
        <td id="cell-2x7"></td>
        <td id="cell-2x8"></td>
    </tr>
    <tr>
        <td id="cell-3x1"></td>
        <td id="cell-3x2"></td>
        <td id="cell-3x3"></td>
        <td id="cell-3x4"></td>
        <td id="cell-3x5"></td>
        <td id="cell-3x6"></td>
        <td id="cell-3x7"></td>
        <td id="cell-3x8"></td>
    </tr>
    <tr>
        <td id="cell-4x1"></td>
        <td id="cell-4x2"></td>
        <td id="cell-4x3"></td>
        <td id="cell-4x4"></td>
        <td id="cell-4x5"></td>
        <td id="cell-4x6"></td>
        <td id="cell-4x7"></td>
        <td id="cell-4x8"></td>
    </tr>
    <tr>
        <td id="cell-5x1"></td>
        <td id="cell-5x2"></td>
        <td id="cell-5x3"></td>
        <td id="cell-5x4"></td>
        <td id="cell-5x5"></td>
        <td id="cell-5x6"></td>
        <td id="cell-5x7"></td>
        <td id="cell-5x8"></td>
    </tr>
    <tr>
        <td id="cell-6x1"></td>
        <td id="cell-6x2"></td>
        <td id="cell-6x3"></td>
        <td id="cell-6x4"></td>
        <td id="cell-6x5"></td>
        <td id="cell-6x6"></td>
        <td id="cell-6x7"></td>
        <td id="cell-6x8"></td>
    </tr>
    <tr>
        <td id="cell-7x1"></td>
        <td id="cell-7x2"></td>
        <td id="cell-7x3"></td>
        <td id="cell-7x4"></td>
        <td id="cell-7x5"></td>
        <td id="cell-7x6"></td>
        <td id="cell-7x7"></td>
        <td id="cell-7x8"></td>
    </tr>
    <tr>
        <td id="cell-8x1"></td>
        <td id="cell-8x2"></td>
        <td id="cell-8x3"></td>
        <td id="cell-8x4"></td>
        <td id="cell-8x5"></td>
        <td id="cell-8x6"></td>
        <td id="cell-8x7"></td>
        <td id="cell-8x8"></td>
    </tr>
</table>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
<script>
var grid = [
        ['empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty'],
        ['empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty'],
        ['empty', 'empty', 'empty', 'empty', 'empty', 'bomb' , 'empty', 'empty'],
        ['empty', 'empty', 'empty', 'empty', 'bomb', 'empty', 'empty', 'empty'],
        ['empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty'],
        ['empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty'],
        ['empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty'],
        ['empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty', 'empty'],
    ];
function load() {
    for (row = 0; row < grid.length; row++) {
        for(col = 0; col < grid[row].length; col++){
            var elemid = 'cell-'+(row+1)+'x'+(col+1);
            console.log(elemid);
            document.getElementById(elemid).innerHTML = grid[col][row];
        }
    }
}
$( "td" ).click(function() {
  $(this).addClass("lost");
  var elemid = $(this).attr('id');
  console.log("elemid "+elemid);
  var pos = elemid.split('-')[1].split('x');
  var gridval = grid[parseInt(pos[0]-1)][parseInt(pos[1]-1)];
  console.log(gridval);
  if (gridval ==  'empty') {
  $(this).html('');
  $(this).addClass("safe");
  }
});
load();
</script>
</body>
</html>